/* .videoPlay .videoInstruction .brief { */

.brief {
    /* border: 2px solid red; */
    height: 5%;
    color: rgb(244,246,245);
}

#firstBrief {
    display: flex;
}

#author {
    font: bold 20px;
}

#date {
    margin-left: 2%;
    color: silver;
}

#description {
    /* border: 3px solid green; */
    height: 0px;
    margin-left: 50px;
}

#tagList {
    position: absolute;
    margin-top: 20px;
    display: flex;
}

.brief .animate {
            /* border: 1px solid white; */
            width: 100%;
            margin-top: -1px;
            padding-left: 10px;
            display: inline-block;
            white-space: nowrap;
            animation: 5s wordsLoop linear infinite normal;
}


@keyframes wordsLoop {
    0% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes wordsLoop {
    0% {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
    }
    50% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}